.view-table {
    display: block;

    ul, li {
        list-style: none;
        padding:0;
        margin:0;
        font-family: monospace;
        font-size:16px;
    }

    & > li {
        display: block;

        > ul {
            display: block;

            > li {
                display: inline-block;
                padding:.15rem .15rem 0 0;
                line-height: 1rem; // 1rem -> 16px;
                min-width: 1.15rem;
            }
        } 
         
    }

    .btn {
        i {
            min-width: .9rem;
        }
        min-width: 1.8rem;
        max-height: 1.8rem;
        border-radius: 50%;
        padding: .16rem .45rem;
        font-family: monospace;
        font-size: .9rem;
        line-height: 1.8rem;
        margin: .2rem;
    }
}

.object-key {
    color: yellow;
}

.object-key::after, .array-key::after, .attribute-key::after {
    content: ":";
    display: inline-block;
    padding:.15rem 0 0 .15rem;
}

.array-key {
    color: limegreen;
}

.attribute-key {
    color: deepskyblue;
}

.object-begin-brace, .object-end-brace, .array-begin-brace, .array-end-brace {
    color: white;
    font-weight: bold;
}

.empty-span {
    border-left: 1px dashed #ccc;
}

.card {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0;
    background: #424242;

    .card-header, .card-footer {
        background: inherit;
        border-width: 0;
        & .btn {
            border-radius: 0;
        }
    }

    .card-body {
        background: inherit;
    }

    .nav-tabs {
        border-bottom: 1px solid #000;

        & .nav-link {
            &:hover, &:focus {
                border-color: #e91e63;
                border-width: 0 0 2px;
            }
            &.active {
                border-color: #e91e63;
                border-width: 0 0 2px;
            }
            &.disabled {
                &:hover, &:focus {
                    border-width: 0;
                }
                color: rgba(255, 255, 255, 0.4);    
            }
            background: transparent;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    
    .nav-item .nav-link i {
        font-size: 1.5rem;
        color: #000;
        padding: 0 .5rem 0 0;
    }
}

.inline.input-group {
    input, .input-group-addon {
        background-color: transparent;
        border-color: #000;
        border-width: 0 0 1px;
        border-radius: 0;
        outline: 0;
        font-family: monospace;
        color: rgba(255, 255, 255, 0.8);
    }
    .input-group-addon {
        color: #fff;
    }
    width: 120px;
}