<md-card>
  <md-tab-group>
    <md-tab label="Viewer">
      <ul class="view-table">
        <li>              
          <span>{{ '{' }}</span>
        </li>
        <li *ngFor="let item of codeKeys; let itemIndex = index; let isLast = last;">
          <!--<ul *ngIf="isNotPrimitiveAndObjectEnd(item, itemIndex, isLast)">
            <li *ngFor="let brace of getEndBraces(item);">              
              <span> {{brace}}</span>
            </li>
          </ul>-->
          <ul>
            <li *ngFor="let subitem of item; let subitemIndex = index; let isSubLast = last;">
               <!--&& !isAttributeValue(item, subitem, subitemIndex)-->
              <span *ngIf="(!isSubLast || subitem == '}' || subitem == ']')" 
                [class.object-key]="isObjectKey(item, subitem, subitemIndex)"
                [class.object-begin-brace]="isObjectBeginBrace(item, subitem, subitemIndex)"
                [class.array-key]="isArrayKey(item, subitem, subitemIndex)"
                [class.array-begin-brace]="isArrayBeginBrace(item, subitem, subitemIndex)"
                [class.attribute-key]="isAttributeKey(item, subitem, subitemIndex)"
                [class.empty-span]="subitem.length < 1">
              {{subitem}}</span>
              <!--<md-input
                value="{{subitem}}" (change)="handleAttributeValue(value)"
                *ngIf="isAttributeValue(item, subitem, subitemIndex)"
                placeholder="{{item[subitemIndex-1]}}">
              </md-input>-->
              <span *ngIf="isAttributeMetaValue(item, subitem, subitemIndex)">
                <button md-button><md-icon>mode edit</md-icon></button>
                <span 
                  *ngFor="let option of getOptions(item)">
                  <button md-raised-button color="primary">
                    RAISED
                  </button>
                </span>
              </span>
            </li>
            <!--length : {{item.length}}-->
            
          </ul>
          <!--<ul *ngIf="!isPrimitive(item)">
            <li *ngFor="let brace of getBeginBraces(item);">              
              <span> {{brace}}</span>
            </li>
          </ul>-->          
        </li>
        <li>              
          <span>{{ '}' }}</span>
        </li>
      </ul>
      <!--<pre>
        {{codeKeys | json}}
      </pre>-->
      <!--<span [ngSwitch]="isArray(item)">
            <template ngSwitchCase="true">
              <ul>
                <li *ngFor="let subitem of item;">
                  <span *ngIf="subitem.length > 0">{{subitem}}</span>
      </li>
      </ul>
      </template>
      <template ngSwitchCase="false">
        <span>{{item}}</span>
      </template>
      </span>-->
    </md-tab>
    <md-tab label="Edtior">
      <codemirror [(ngModel)]="code" [config]="cmOptions"></codemirror>
    </md-tab>
  </md-tab-group>
</md-card>

<md-card>


  <!--<json-editor *ngIf="record && schema" 
      [config]="jsonViewerOptions"
      [record]="record" 
      (onRecordChange)="onRecordChange($event)"
      [schema]="schema">
    </json-editor>-->
</md-card>

<md-card>
  <button md-button>FLAT</button>
  <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
  <button md-raised-button color="primary">PRIMARY RAISED</button>
  <button md-raised-button color="accent">ACCENT RAISED</button>
</md-card>

<md-card>
  <md-checkbox>Unchecked</md-checkbox>
  <md-checkbox [checked]="true">Checked</md-checkbox>
  <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
  <md-checkbox [disabled]="true">Disabled</md-checkbox>
</md-card>

<md-card>
  <md-radio-button name="symbol">Alpha</md-radio-button>
  <md-radio-button name="symbol">Beta</md-radio-button>
  <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
</md-card>

<md-card class="app-input-section">
  <md-input placeholder="First name"></md-input>

  <md-input #nickname placeholder="Nickname" maxlength="50">
    <md-hint align="end">
      {{nickname.characterCount}} / 50
    </md-hint>
  </md-input>

  <md-input>
    <md-placeholder>
      <i class="material-icons app-input-icon">android</i> Favorite phone
    </md-placeholder>
  </md-input>

  <md-input placeholder="Motorcycle model">
    <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
  </md-input>
</md-card>

<md-card>
  <md-list class="app-list">
    <md-list-item *ngFor="let food of foods">
      <h3 md-line>{{food.name}}</h3>
      <p md-line class="demo-secondary-text">{{food.rating}}</p>
    </md-list-item>
  </md-list>
</md-card>

<md-card>
  <md-spinner class="app-spinner"></md-spinner>
  <md-spinner color="accent" class="app-spinner"></md-spinner>
</md-card>

<md-card>
  <label>
        Indeterminate progress-bar
        <md-progress-bar
            class="app-progress"
            mode="indeterminate"
            aria-label="Indeterminate progress-bar example"></md-progress-bar>
      </label>

  <label>
        Determinate progress bar - {{progress}}%
        <md-progress-bar
            class="app-progress"
            color="accent"
            mode="determinate"
            [value]="progress"
            aria-label="Determinate progress-bar example"></md-progress-bar>
      </label>
</md-card>

<md-card>
  <md-tab-group>
    <md-tab label="Earth">
      <p>EARTH</p>
    </md-tab>
    <md-tab label="Fire">
      <p>FIRE</p>
    </md-tab>
  </md-tab-group>
</md-card>

<md-card>
  <md-icon>build</md-icon>
</md-card>

<md-card>
  <button md-button [md-menu-trigger-for]="menu">
    MENU
  </button>
</md-card>

<md-menu #menu="mdMenu">
  <button md-menu-item>Lemon</button>
  <button md-menu-item>Lime</button>
  <button md-menu-item>Banana</button>
</md-menu>

<md-card>
  <p>Last dialog result: {{lastDialogResult}}</p>
  <button md-raised-button (click)="openDialog()">DIALOG</button>
  <button md-raised-button (click)="showSnackbar()">SNACKBAR</button>
</md-card>
