ul, li {
    list-style: none;
    padding:0;
    margin:0;
}

.view-table {
    // display: table;
    display: block;

    & > li {
        display: block;

        > ul {
            // display: table-row;
            // display: table-cell;
            display: block;
            // vertical-align: middle;

            > li {
                display: inline-block;
                padding:5px;                
                // border:1px solid #fff;
                line-height: 20px;
                min-width: 10px;
            }
        } 
         
    }
}

.object-key {
    color: yellow;
}

.object-key::after, .array-key::after, .attribute-key::after {
    content: ":";
    display: inline-block;
    padding: 5px 2px;
}

.array-key {
    color: limegreen;
}

.attribute-key {
    color: deepskyblue;
}

.object-begin-brace, .object-end-brace, .array-begin-brace, .array-end-brace {
    color: white;
    font-weight: bold;
}
