<div class="card">
  <!--<div class="card-header text-right">
    <button class="btn btn-success">Download Scaffolding.json</button>
  </div>-->
  <ngb-tabset>
    <ngb-tab>
      <template ngbTabTitle>
        <i class="fa fa-codepen"></i>  <b>Visual</b> Editor
      </template>
      <template ngbTabContent>
        <ul class="view-table">
          <li>
            <span class="object-begin-brace">{{ '{' }}</span>
          </li>
          <li *ngFor="let item of codeKeys; let itemIndex = index; let isLast = last;">
            
            <ul>
              <li *ngFor="let subitem of item; let subitemIndex = index; let isSubLast = last;">
                <!--&& !isAttributeValue(item, subitem, subitemIndex)-->
                <span *ngIf="(!isSubLast || subitem == '}' || subitem == ']') && !isAttributeValue(item, subitem, subitemIndex)" [class.object-key]="isObjectKey(item, subitem, subitemIndex)"
                  [class.object-begin-brace]="isObjectBeginBrace(item, subitem, subitemIndex)" 
                  [class.object-end-brace]="isObjectEndBrace(item, subitem, subitemIndex)" 
                  [class.array-key]="isArrayKey(item, subitem, subitemIndex)"
                  [class.array-begin-brace]="isArrayBeginBrace(item, subitem, subitemIndex)" 
                  [class.array-end-brace]="isArrayEndBrace(item, subitem, subitemIndex)" 
                  [class.attribute-key]="isAttributeKey(item, subitem, subitemIndex)"
                  [class.empty-span]="subitem.length < 1">
                  {{subitem}}
                </span>

                <div class="input-group inline" *ngIf="isAttributeValue(item, subitem, subitemIndex)">
                  <input type="text" class="form-control" aria-describedby="basic-addon2" 
                    value="{{subitem}}" 
                    (change)="handleAttributeValue($event, item[subitemIndex+1])"
                    class="inline-input">
                  <span class="input-group-addon" id="basic-addon2">
                    <i class="fa fa-save"></i>
                  </span>
                </div>
                
                <span *ngIf="isObjectBeginBrace(item, subitem, subitemIndex)">
                  <button class="btn btn-danger"
                     *ngIf="isWithinArray(item, subitem, subitemIndex)" 
                     (click)="prungeInstance(item, subitem, subitemIndex)">
                    <i class="fa fa-minus"></i>
                  </button>
                </span>

                <span *ngIf="isArrayBeginBrace(item, subitem, subitemIndex)">
                  <button class="btn btn-primary"
                    *ngIf="isPropertiesArray(item, subitem, subitemIndex)" 
                    (click)="addProperty(item, subitem, subitemIndex)">
                    <i class="fa fa-plus"></i>
                    <!--Property-->
                  </button>
                  <button class="btn btn-primary"
                    *ngIf="isInputArray(item, subitem, subitemIndex)" 
                    (click)="addInput(item, subitem, subitemIndex)">
                    <i class="fa fa-plus"></i>
                    <!--Input Binding-->
                  </button>
                  <button class="btn btn-primary"
                    *ngIf="isOutputArray(item, subitem, subitemIndex)" 
                    (click)="addOutput(item, subitem, subitemIndex)">
                    <i class="fa fa-plus"></i>
                    <!--Output Binding-->
                  </button>
                  <button class="btn btn-primary"
                    *ngIf="isMethodArray(item, subitem, subitemIndex)" 
                    (click)="addMethod(item, subitem, subitemIndex)">
                    <i class="fa fa-plus"></i>
                    <!--Method-->
                  </button>
                  <button class="btn btn-primary"
                    *ngIf="isMethodParamArray(item, subitem, subitemIndex)" 
                    (click)="addMethodParam(item, subitem, subitemIndex)">
                    <i class="fa fa-plus"></i>
                    <!--Method-->
                  </button>
                  <button class="btn btn-primary"
                    *ngIf="isComponentArray(item, subitem, subitemIndex)" 
                    (click)="addComponent(item, subitem, subitemIndex)">
                    <i class="fa fa-plus"></i>
                    <!--Component-->
                  </button>
                </span>
              </li>
            </ul>
          </li>
          <li>
            <span class="object-end-brace">{{ '}' }}</span>
          </li>
        </ul>
      </template>
    </ngb-tab>
    <ngb-tab>
      <template ngbTabTitle>
        <i class="fa fa-code"></i>  <b>Code</b> Editor
      </template>
      <template ngbTabContent>
        <codemirror [(ngModel)]="code" [config]="cmOptions"></codemirror>
      </template>
    </ngb-tab>
    <ngb-tab [disabled]="false">
      <template ngbTabTitle>
        <i class="fa fa-tachometer"></i>  Object Key Debugger
      </template>
      <template ngbTabContent>
        <pre style="color: #fff;">
          {{codeKeys | json}}
        </pre>
      </template>
    </ngb-tab>
  </ngb-tabset>
  <!--<div class="card-footer text-right">
    <button class="btn btn-success">Download Scaffolding.json</button>
  </div>-->
</div>